name: Update GFS

on:
  workflow_dispatch:
  schedule:
    - cron: "40 */6 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install xarray netCDF4 numpy matplotlib

      - name: Generate assets
        run: |
          python scripts/gfs_all_to_assets.py

      - name: Commit
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add data
          git commit -m "Update GFS assets" || echo "no change"
          git push
